//----------------- Masthead Side Menu, Body & Nav Styling ---------------------
.masthead__body {
  display: flex;
  background-color: $whiteColor;

  .masthead__nav {
    align-items: stretch;
    flex: 15%;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: 0;

    .masthead__nav-logo {
      padding: 1rem 0;
      background-color: $primaryColor;
      background: linear-gradient(to bottom, $primaryColor 30%, $secondaryColor) no-repeat;
      color: $whiteColor;
      text-align: center;
      text-overflow: ellipsis;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-negative: 0;
      flex-shrink: 0;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      height: 1.5em;
      justify-content: center;
      padding: 1rem 0;

      h2 {
        font-weight: bold;
      }
    }


    a {
      background-color: $whiteColor;
      height: 2em;
      padding: 2em 1em;
      border-bottom: 1px $offWhiteColor solid;
      text-decoration: none;
      line-height: 1;
      text-align: center;
      font-weight: 400;
      color: $tertiaryColor;
      display: flex;
      justify-content: center;
      align-content: center;
      flex-direction: column;
    }
    a:hover {
      box-shadow: inset 0 0 8px  rgba(0,0,0,0.1), 0 0 16px rgba(0,0,0,0.1);
      background-color: $primaryColor;
      color: $whiteColor;
    }

  }

  //Main content
  #masthead__main {
    flex: 85%;
    height: 100vh;
    position:relative;


    .background-image {
      background-color: linear-gradient(135deg, $secondaryColor 0%, $primaryColor 100%);
      background-image: url("../../assets/img/bg5.jpg");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      filter: blur(2
      px);
      -webkit-filter: blur(2px);
      z-index: 1;
      height: 800px;
      left: 15%;
      position: fixed;
      right: 0;

    }

    .masthead__main--content {
      background: rgba(255,255,255,0.35);
      position:absolute;
      width:100%;
      height:100%;
      z-index: 99;

      .secondary-menu {
        background-color: rgba(0,0,0,0.35);
        height: 1.5em;
        padding: 1rem 0;
        display: flex;
        justify-content: flex-end;
        flex-flow: row nowrap;
      }
      .nav-item {
        display: inline-block;
        font-size: 1em;
        text-decoration: underline;
        color: $whiteColor;
        width: 4em;
      }
      .nav-item:last-child {
        border-left: 1.3px $whiteColor solid;
        padding-left: 5px;
        margin-right: 1.5em;
      }

      .masthead__main--body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

      }
    }

  }
}


//----------------- Phone Number Form Styling ---------------------

#phoneNumberForm {
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.button {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  font-weight: 400;
  padding-left: 1.2em;
  padding-right: 1.2em;
  position: relative;
  text-align: center;


  &.play-button {
    background: $primaryColor;
    background: linear-gradient(
                    to bottom,
                    $primaryColor 50%,
                    $secondaryColor
    ) no-repeat;
    background-clip: padding-box;
    border-radius: 5em;
    border: 12px solid rgba(255,255,255,0.3);
    color: #fff;
    cursor: pointer;
    font-size: large;
    font-weight: lighter;
    height: 4.3em;
    letter-spacing: 1.2px;
    width: 40%;

    &:after {
      background: rgba(255,255,255,0.35);
      content: '';
      height: 3px;
      left: -50%;
      position: absolute;
      top: 50%;
      width: 200%;
      z-index: -1;
    }
  }

}
button:disabled, button[disabled]{
  &.play-button {
    background: linear-gradient(
                    to bottom, $secondaryColor 10%,
                    $secondaryColor) no-repeat;
    background-clip: padding-box;
    cursor: auto;
  }
}

.massive-header {
  font-size: 3.5rem;
  font-weight: 400;
  letter-spacing: 2.7px;
  border-top: 2px solid rgba(255,255,255,0.35);
  border-bottom: 2px solid rgba(255,255,255,0.35);

}

// Phone Number styling ---------------------------

input[type=text], input[type=password], input[type='tel'] {
  width: 50%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid $tertiaryColor;
  background-color: $whiteColor;
  border-radius: 5em;
  box-shadow: inset 0 0 8px  rgba(0,0,0,0.1), 0 0 16px rgba(0,0,0,0.1);
  color: $darkColor;
  font-size: 20px;
  letter-spacing: 2px;
  margin-right: 20px;
  margin-bottom: 30px;

  &::-webkit-input-placeholder {
    color: $tertiaryColor;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: lighter;
  }
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px $whiteColor inset;
  -webkit-text-fill-color: $secondaryColor;
  font-family: $font-primary;

}

//----------------- Confirmation Modal Styling ---------------------


.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 0vh;
  background-color: rgba(0,0,0,0.55);
  overflow: hidden;
  transition: background-color $base-duration ease;
  z-index: 9999;

  &.open {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    transition: background-color $base-duration;

    > .content-wrapper {
      transform: scale(1.0);
    }
  }

  .content-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 40%;
    margin: 0;
    padding: 2.5rem;
    background-color: white;
    border-radius: 0.3125rem;
    box-shadow: 0 0 2.5rem rgba(0,0,0,0.5);
    transform: scale(0.0);
    transition: transform $base-duration;
    transition-delay: 0.15s;

    .close {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2.5rem;
      height: 2.5rem;
      border: none;
      background-color: transparent;
      font-size: 1.5rem;
      transition: $base-duration linear;

      &:before, &:after {
        position: absolute;
        content: '';
        width: 1.25rem;
        height: 0.125rem;
        background-color: $darkColor;
      }

      &:before {
        transform: rotate(-45deg);
      }

      &:after {
        transform: rotate(45deg);
      }

      &:hover {
        transform: rotate(360deg);

        &:before, &:after {
          background-color: $primaryColor;
        }
      }
    }

    .modal-header {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin: 0;
      padding: 0 0 1.25rem;

      h2 {
        font-size: 1.5rem;
      }
    }

    .content {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      align-content: flex-start;


      h4 {
        display: block;
      }

      p {
        font-size: 0.875rem;
        line-height: 1.75;
      }
    }

    .modal-footer {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 100%;
      margin: 0;
      padding: 1.875rem 0 0;

      .action {
        position: relative;
        margin-left: 0.625rem;
        padding: 0.825rem 1.825rem;
        border: none;
        border-radius: 4.5px;
        background-color: $primaryColor;
        color: white;
        font-size: 1rem;
        font-weight: 300;
        overflow: hidden;
        z-index: 1;

        &:before {
          position: absolute;
          content: '';
          top: 0;
          left: 0;
          width: 0%;
          height: 100%;
          background-color: rgba(0,0,0,0.12);
          transition: width $base-duration;
          z-index: 0;
        }

        &:first-child {
          background-color: $primaryColor;
        }

        &:last-child {
          background-color: $redColor;
        }

        &:hover {
          &:before {
            width: 100%;
          }
        }
      }
    }
  }
}
