/*---------- Fonts ---------------*/
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,500,600");
/*----------- Brand Colors --------------*/
/*------- Animation ----------- */
* {
  padding: 0;
  margin: 0;
  border: 0; }

ul, li {
  list-style-type: none; }

body {
  font-family: "Source Sans Pro", "Lato", Arial, serif !important;
  font-weight: 300;
  font-size: 16px;
  background-color: #f2f2f2;
  line-height: 1.7; }
  body, body html {
    height: 100%;
    width: 100%; }

h1, h2, h3, h4 {
  font-weight: 300; }

.primary-color {
  color: #2ecc71 !important; }

.secondary-color {
  color: #16a085 !important; }

.white-color {
  color: #ffffff !important; }

.primary-color-bg {
  background-color: #2ecc71 !important; }

.secondary-color-bg {
  background-color: #16a085 !important; }

.white-color-bg {
  background-color: #ffffff !important; }

.dark-color-bg {
  background-color: #95a5a6 !important; }

.mr-1 {
  margin-right: 1rem !important; }

.mr-2 {
  margin-right: 2rem !important; }

.mr-3 {
  margin-right: 3rem !important; }

.mr-4 {
  margin-right: 4rem !important; }

.ml-1 {
  margin-left: 1rem !important; }

.ml-2 {
  margin-left: 2rem !important; }

.ml-3 {
  margin-left: 3rem !important; }

.ml-4 {
  margin-left: 4rem !important; }

.mt-1 {
  margin-top: 1rem !important; }

.mt-2 {
  margin-top: 2rem !important; }

.mt-3 {
  margin-top: 3rem !important; }

.mt-4 {
  margin-top: 4rem !important; }

.mb-1 {
  margin-bottom: 1rem !important; }

.mb-2 {
  margin-bottom: 2rem !important; }

.mb-3 {
  margin-bottom: 3rem !important; }

.mb-4 {
  margin-bottom: 4rem !important; }

.pr-1 {
  padding-right: 1rem !important; }

.pr-2 {
  padding-right: 2rem !important; }

.pr-3 {
  padding-right: 3rem !important; }

.pr-4 {
  padding-right: 4rem !important; }

.pl-1 {
  padding-left: 1rem !important; }

.pl-2 {
  padding-left: 2rem !important; }

.pl-3 {
  padding-left: 3rem !important; }

.pl-4 {
  padding-left: 4rem !important; }

.pt-1 {
  padding-top: 1rem !important; }

.pt-2 {
  padding-top: 2rem !important; }

.pt-3 {
  padding-top: 3rem !important; }

.pt-4 {
  padding-top: 4rem !important; }

.pb-1 {
  padding-bottom: 1rem !important; }

.pb-2 {
  padding-bottom: 2rem !important; }

.pb-3 {
  padding-bottom: 3rem !important; }

.pb-4 {
  padding-bottom: 4rem !important; }

.text-center {
  text-align: center; }

.text-capcase {
  text-transform: uppercase; }

.scrollable {
  overflow-y: auto; }

.big-header {
  letter-spacing: 2px; }

.bold-text {
  font-weight: bold; }

.masthead__body {
  display: flex;
  background-color: #ffffff; }
  .masthead__body .masthead__nav {
    align-items: stretch;
    flex: 15%;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: 0; }
    .masthead__body .masthead__nav .masthead__nav-logo {
      padding: 1rem 0;
      background-color: #2ecc71;
      background: linear-gradient(to bottom, #2ecc71 30%, #16a085) no-repeat;
      color: #ffffff;
      text-align: center;
      text-overflow: ellipsis;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-negative: 0;
      flex-shrink: 0;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      height: 1.5em;
      justify-content: center;
      padding: 1rem 0; }
      .masthead__body .masthead__nav .masthead__nav-logo h2 {
        font-weight: bold; }
    .masthead__body .masthead__nav a {
      background-color: #ffffff;
      height: 2em;
      padding: 2em 1em;
      border-bottom: 1px #f2f2f2 solid;
      text-decoration: none;
      line-height: 1;
      text-align: center;
      font-weight: 400;
      color: #95a5a6;
      display: flex;
      justify-content: center;
      align-content: center;
      flex-direction: column; }
    .masthead__body .masthead__nav a:hover {
      box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
      background-color: #2ecc71;
      color: #ffffff; }
  .masthead__body #masthead__main {
    flex: 85%;
    height: 100vh;
    position: relative; }
    .masthead__body #masthead__main .background-image {
      background-color: linear-gradient(135deg, #16a085 0%, #2ecc71 100%);
      background-image: url("../../assets/img/bg5.jpg");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      filter: blur(2 px);
      -webkit-filter: blur(2px);
      z-index: 1;
      height: 800px;
      left: 15%;
      position: fixed;
      right: 0; }
    .masthead__body #masthead__main .masthead__main--content {
      background: rgba(255, 255, 255, 0.35);
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 99; }
      .masthead__body #masthead__main .masthead__main--content .secondary-menu {
        background-color: rgba(0, 0, 0, 0.35);
        height: 1.5em;
        padding: 1rem 0;
        display: flex;
        justify-content: flex-end;
        flex-flow: row nowrap; }
      .masthead__body #masthead__main .masthead__main--content .nav-item {
        display: inline-block;
        font-size: 1em;
        text-decoration: underline;
        color: #ffffff;
        width: 4em; }
      .masthead__body #masthead__main .masthead__main--content .nav-item:last-child {
        border-left: 1.3px #ffffff solid;
        padding-left: 5px;
        margin-right: 1.5em; }
      .masthead__body #masthead__main .masthead__main--content .masthead__main--body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }

#phoneNumberForm {
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%; }

.button {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  font-weight: 400;
  padding-left: 1.2em;
  padding-right: 1.2em;
  position: relative;
  text-align: center; }
  .button.play-button {
    background: #2ecc71;
    background: linear-gradient(to bottom, #2ecc71 50%, #16a085) no-repeat;
    background-clip: padding-box;
    border-radius: 5em;
    border: 12px solid rgba(255, 255, 255, 0.3);
    color: #fff;
    cursor: pointer;
    font-size: large;
    font-weight: lighter;
    height: 4.3em;
    letter-spacing: 1.2px;
    width: 40%; }
    .button.play-button:after {
      background: rgba(255, 255, 255, 0.35);
      content: '';
      height: 3px;
      left: -50%;
      position: absolute;
      top: 50%;
      width: 200%;
      z-index: -1; }

button:disabled.play-button, button[disabled].play-button {
  background: linear-gradient(to bottom, #16a085 10%, #16a085) no-repeat;
  background-clip: padding-box;
  cursor: auto; }

.massive-header {
  font-size: 3.5rem;
  font-weight: 400;
  letter-spacing: 2.7px;
  border-top: 2px solid rgba(255, 255, 255, 0.35);
  border-bottom: 2px solid rgba(255, 255, 255, 0.35); }

input[type=text], input[type=password], input[type='tel'] {
  width: 50%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid #95a5a6;
  background-color: #ffffff;
  border-radius: 5em;
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
  color: #2c3e50;
  font-size: 20px;
  letter-spacing: 2px;
  margin-right: 20px;
  margin-bottom: 30px; }
  input[type=text]::-webkit-input-placeholder, input[type=password]::-webkit-input-placeholder, input[type='tel']::-webkit-input-placeholder {
    color: #95a5a6;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: lighter; }

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #ffffff inset;
  -webkit-text-fill-color: #16a085;
  font-family: "Source Sans Pro", "Lato", Arial, serif; }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 0vh;
  background-color: rgba(0, 0, 0, 0.55);
  overflow: hidden;
  transition: background-color 0.25s ease;
  z-index: 9999; }
  .modal.open {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color 0.25s; }
    .modal.open > .content-wrapper {
      transform: scale(1); }
  .modal .content-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 40%;
    margin: 0;
    padding: 2.5rem;
    background-color: white;
    border-radius: 0.3125rem;
    box-shadow: 0 0 2.5rem rgba(0, 0, 0, 0.5);
    transform: scale(0);
    transition: transform 0.25s;
    transition-delay: 0.15s; }
    .modal .content-wrapper .close {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2.5rem;
      height: 2.5rem;
      border: none;
      background-color: transparent;
      font-size: 1.5rem;
      transition: 0.25s linear; }
      .modal .content-wrapper .close:before, .modal .content-wrapper .close:after {
        position: absolute;
        content: '';
        width: 1.25rem;
        height: 0.125rem;
        background-color: #2c3e50; }
      .modal .content-wrapper .close:before {
        transform: rotate(-45deg); }
      .modal .content-wrapper .close:after {
        transform: rotate(45deg); }
      .modal .content-wrapper .close:hover {
        transform: rotate(360deg); }
        .modal .content-wrapper .close:hover:before, .modal .content-wrapper .close:hover:after {
          background-color: #2ecc71; }
    .modal .content-wrapper .modal-header {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin: 0;
      padding: 0 0 1.25rem; }
      .modal .content-wrapper .modal-header h2 {
        font-size: 1.5rem; }
    .modal .content-wrapper .content {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      align-content: flex-start; }
      .modal .content-wrapper .content h4 {
        display: block; }
      .modal .content-wrapper .content p {
        font-size: 0.875rem;
        line-height: 1.75; }
    .modal .content-wrapper .modal-footer {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 100%;
      margin: 0;
      padding: 1.875rem 0 0; }
      .modal .content-wrapper .modal-footer .action {
        position: relative;
        margin-left: 0.625rem;
        padding: 0.825rem 1.825rem;
        border: none;
        border-radius: 4.5px;
        background-color: #2ecc71;
        color: white;
        font-size: 1rem;
        font-weight: 300;
        overflow: hidden;
        z-index: 1; }
        .modal .content-wrapper .modal-footer .action:before {
          position: absolute;
          content: '';
          top: 0;
          left: 0;
          width: 0%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.12);
          transition: width 0.25s;
          z-index: 0; }
        .modal .content-wrapper .modal-footer .action:first-child {
          background-color: #2ecc71; }
        .modal .content-wrapper .modal-footer .action:last-child {
          background-color: #FF2600; }
        .modal .content-wrapper .modal-footer .action:hover:before {
          width: 100%; }

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .masthead__body {
    display: flex; }
    .masthead__body .masthead__nav {
      flex: 30%; }
      .masthead__body .masthead__nav .masthead__nav-logo {
        padding: 0.5rem 0;
        height: 1.5em;
        padding: 1rem 0; }
        .masthead__body .masthead__nav .masthead__nav-logo h2 {
          font-weight: bold;
          letter-spacing: 0px;
          font-size: 1em;
          line-height: 1.4; }
      .masthead__body .masthead__nav a {
        padding: 2em 0.5em;
        border-bottom: 1px #f2f2f2 solid;
        text-decoration: none;
        line-height: 1;
        font-size: 14px; }
        .masthead__body .masthead__nav a img {
          height: 25px;
          margin-bottom: 0.35rem; }
    .masthead__body #masthead__main {
      flex: 70%; }
      .masthead__body #masthead__main .background-image {
        background-size: auto auto;
        filter: blur(1px);
        -webkit-filter: blur(1px);
        left: 30%; }
      .masthead__body #masthead__main .masthead__main--content .nav-item {
        font-size: .85em; }
      .masthead__body #masthead__main .masthead__main--content .nav-item:last-child {
        margin-right: 0.5em; }
  /* ---------- Header ----- */
  .big-header {
    letter-spacing: 0px;
    font-size: 0.9em;
    line-height: 1.4;
    margin: 0.23em 1.5em;
    text-align: center; }
  .massive-header {
    font-size: 1.7rem;
    font-weight: bold;
    letter-spacing: 1.3px;
    border-top: 1px solid rgba(255, 255, 255, 0.35);
    border-bottom: 1px solid rgba(255, 255, 255, 0.35); }
  input[type=text], input[type=password], input[type='tel'] {
    width: 90%;
    margin: 0 auto;
    padding: 10px 10px;
    font-size: 14px;
    letter-spacing: 1px; }
    input[type=text]::-webkit-input-placeholder, input[type=password]::-webkit-input-placeholder, input[type='tel']::-webkit-input-placeholder {
      font-size: 14px; }
  .button {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    font-weight: 400;
    padding-left: 0.2em;
    padding-right: 0.2em; }
    .button.play-button {
      border: 5px solid rgba(255, 255, 255, 0.3);
      font-size: 14px;
      height: 3em;
      letter-spacing: 1px;
      width: 85%;
      margin-top: 1.7rem; }
      .button.play-button:after {
        display: none; }
  .modal .content-wrapper {
    width: 68%;
    padding: 1.35rem; }
  .modal .content-wrapper .modal-footer .action {
    padding: 0.725rem; } }
