/*-------------------
    Brand Colors
--------------------*/
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,500,600");
* {
  padding: 0;
  margin: 0;
  border: 0; }

ul, li {
  list-style-type: none; }

body {
  font-family: "Source Sans Pro", "Lato", Arial, serif !important;
  font-weight: 300;
  font-size: 16px;
  background-color: #f2f2f2;
  line-height: 1.7; }
  body, body html {
    height: 100%;
    width: 100%; }

h1, h2, h3, h4 {
  font-weight: 300; }

.primary-color {
  color: #2ecc71 !important; }

.secondary-color {
  color: #16a085 !important; }

.white-color {
  color: #ffffff !important; }

.primary-color-bg {
  background-color: #2ecc71 !important; }

.secondary-color-bg {
  background-color: #16a085 !important; }

.white-color-bg {
  background-color: #ffffff !important; }

.dark-color-bg {
  background-color: #95a5a6 !important; }

.mr-1 {
  margin-right: 1rem !important; }

.mr-2 {
  margin-right: 2rem !important; }

.mr-3 {
  margin-right: 3rem !important; }

.mr-4 {
  margin-right: 4rem !important; }

.ml-1 {
  margin-left: 1rem !important; }

.ml-2 {
  margin-left: 2rem !important; }

.ml-3 {
  margin-left: 3rem !important; }

.ml-4 {
  margin-left: 4rem !important; }

.mt-1 {
  margin-top: 1rem !important; }

.mt-2 {
  margin-top: 2rem !important; }

.mt-3 {
  margin-top: 3rem !important; }

.mt-4 {
  margin-top: 4rem !important; }

.mb-1 {
  margin-bottom: 1rem !important; }

.mb-2 {
  margin-bottom: 2rem !important; }

.mb-3 {
  margin-bottom: 3rem !important; }

.mb-4 {
  margin-bottom: 4rem !important; }

.pr-1 {
  padding-right: 1rem !important; }

.pr-2 {
  padding-right: 2rem !important; }

.pr-3 {
  padding-right: 3rem !important; }

.pr-4 {
  padding-right: 4rem !important; }

.pl-1 {
  padding-left: 1rem !important; }

.pl-2 {
  padding-left: 2rem !important; }

.pl-3 {
  padding-left: 3rem !important; }

.pl-4 {
  padding-left: 4rem !important; }

.pt-1 {
  padding-top: 1rem !important; }

.pt-2 {
  padding-top: 2rem !important; }

.pt-3 {
  padding-top: 3rem !important; }

.pt-4 {
  padding-top: 4rem !important; }

.pb-1 {
  padding-bottom: 1rem !important; }

.pb-2 {
  padding-bottom: 2rem !important; }

.pb-3 {
  padding-bottom: 3rem !important; }

.pb-4 {
  padding-bottom: 4rem !important; }

.text-center {
  text-align: center; }

.text-capcase {
  text-transform: uppercase; }

br-0 {
  border-radius: 0; }

.masthead__body {
  display: flex;
  background-color: #ffffff; }
  .masthead__body .masthead__nav {
    align-items: stretch;
    flex: 15%;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: 0; }
    .masthead__body .masthead__nav .masthead__nav-logo {
      padding: 1rem 0;
      background-color: #2ecc71;
      background: linear-gradient(to bottom, #2ecc71 30%, #16a085) no-repeat;
      color: #ffffff;
      text-align: center;
      text-overflow: ellipsis;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-negative: 0;
      flex-shrink: 0;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      height: 1.5em;
      justify-content: center;
      padding: 1rem 0; }
      .masthead__body .masthead__nav .masthead__nav-logo h2 {
        font-weight: bold; }
    .masthead__body .masthead__nav a {
      background-color: #ffffff;
      height: 2em;
      padding: 2em 2em;
      border-bottom: 1px #f2f2f2 solid;
      text-decoration: none;
      line-height: 1;
      text-align: center;
      font-weight: 400;
      color: #95a5a6;
      display: flex;
      justify-content: center;
      align-content: center;
      flex-direction: column; }
    .masthead__body .masthead__nav a:hover {
      box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
      background-color: #2ecc71;
      color: #ffffff; }
    .masthead__body .masthead__nav .fa {
      display: block;
      margin: 0.3em auto;
      font-size: 1.6em;
      color: #16a085; }
  .masthead__body #masthead__main {
    flex: 85%;
    height: 100vh;
    position: relative; }
    .masthead__body #masthead__main .background-image {
      background-color: linear-gradient(135deg, #16a085 0%, #2ecc71 100%);
      background-image: url("../../assets/img/bg5.jpg");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      filter: blur(5px);
      -webkit-filter: blur(2px);
      z-index: 1;
      height: 800px;
      left: 15%;
      position: fixed;
      right: 0; }
    .masthead__body #masthead__main .masthead__main--content {
      background: rgba(255, 255, 255, 0.35);
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 99; }
      .masthead__body #masthead__main .masthead__main--content .secondary-menu {
        background-color: rgba(0, 0, 0, 0.35);
        height: 1.5em;
        padding: 1rem 0;
        display: flex;
        justify-content: flex-end;
        flex-flow: row nowrap; }
      .masthead__body #masthead__main .masthead__main--content .nav-item {
        display: inline-block;
        font-size: 1em;
        text-decoration: underline;
        color: #ffffff;
        width: 4em; }
      .masthead__body #masthead__main .masthead__main--content .nav-item:last-child {
        border-left: 1.3px #ffffff solid;
        padding-left: 5px;
        margin-right: 1.5em; }
      .masthead__body #masthead__main .masthead__main--content .masthead__main--body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }

#phoneNumberForm {
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%; }

.button {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  font-weight: 700;
  padding-left: 1.2em;
  padding-right: 1.2em;
  position: relative;
  text-align: center; }
  .button:after {
    background: rgba(255, 255, 255, 0.35);
    content: '';
    height: 3px;
    left: -50%;
    position: absolute;
    top: 50%;
    width: 200%;
    z-index: -1; }
  .button.play-button {
    background: #2ecc71;
    background: linear-gradient(to bottom, #2ecc71 50%, #16a085) no-repeat;
    background-clip: padding-box;
    border-radius: 5em;
    border: 12px solid rgba(255, 255, 255, 0.3);
    color: #fff;
    cursor: pointer;
    font-size: large;
    font-weight: lighter;
    height: 4.3em;
    letter-spacing: 1.2px;
    width: 40%; }

button:disabled.play-button, button[disabled].play-button {
  background: linear-gradient(to bottom, #16a085 10%, #16a085) no-repeat;
  background-clip: padding-box;
  cursor: auto; }

.scrollable {
  overflow-y: auto; }

.big-header {
  letter-spacing: 2px; }

.bold-text {
  font-weight: bold; }

.massive-header {
  font-size: 3.5rem;
  font-weight: 400;
  letter-spacing: 2.7px;
  border-top: 2px solid rgba(255, 255, 255, 0.35);
  border-bottom: 2px solid rgba(255, 255, 255, 0.35); }

input[type=text], input[type=password], input[type='tel'] {
  width: 50%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid #95a5a6;
  background-color: #ffffff;
  border-radius: 5em;
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
  color: #2c3e50;
  font-size: 20px;
  letter-spacing: 2px;
  margin-right: 20px;
  margin-bottom: 30px; }
  input[type=text]::-webkit-input-placeholder, input[type=password]::-webkit-input-placeholder, input[type='tel']::-webkit-input-placeholder {
    color: #95a5a6;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: lighter; }

input[type="text"]:focus {
  padding-left: 1.6em;
  transition: all 0.3s ease-out;
  transition-delay: 0.2s; }

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #ffffff inset;
  -webkit-text-fill-color: #16a085 !important;
  font-family: "Source Sans Pro", "Lato", Arial, serif; }
